@import url("https://fonts.googleapis.com/css?family=Roboto|Quattrocento+Sans&display=swap");
@import url('https://fonts.googleapis.com/css?family=Notable');
@import url('https://fonts.googleapis.com/css?family=Inter');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: 'Inter'
}

html {
  --yellow: #FDD835;
  --blue: #70D1FE;
  --red: #F44336;
  --grey: rgb(230,230,230);
  --light-green: #7f917f;
  --dark-green: #394439;
  --baby-pink: #e8dedd;
  --light-grey: #dde0e5;
  --brown: #664229;
  height: 100%;
}

#parent {
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Source Code Pro', monospace;
  font-size: 28px;
  color: rgba(255,255,255,.70);
  position: relative;
}

#border {
  border-bottom: solid 3px rgba(0,0,0,.75);
  position: absolute;
  right: -7px;
  width: 20px;
}

/* Animation */
@media (min-width: 768px) {
  #parent {
    animation: animated-text 8s steps(51,end) 1s 1 normal both;
  }
}

@media (max-width: 768px) {
  #parent {
    white-space: break-spaces;
    padding: 5%;
  }
}
@media (min-width: 768px) {
  #border {
     animation: animated-cursor 600ms steps(51,end) infinite;
  }
}
@media (max-width: 768px) {
  #border {
    white-space: break-spaces;
  }
}
/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 860px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-bottom-color: rgba(0,0,0,.75);}
  to{border-bottom-color: transparent;}
}

input[type="text"], input[type="email"], textarea.form-control {
  background-color: rgba(0,0,0,0);
  border-top: 0px;
  border-left: 0px;
  border-right: 0;
  border-radius: 0px;
  color: rgb(51,51,51);
}

/* Projects */

.project-container {
  visibility: visible;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
  align-items: center;
  background-color:#394439;
  padding-bottom: 5%;
}

.project-content {
  grid-column: 5 / -1;
  text-align: right;
  grid-area: 1 / 6 / -1 / -1;
  z-index: 2;
  padding: 5%;
}

.project-overline {
  margin: 10px 0px;
  color: var(--light-grey);
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
  font-weight: 400;
}

.project-title {
  margin: 0px 0px 20px;
  color: var(--baby-pink);
}

.project-description {
  display: block;
  grid-column: 7 / -1;
  text-align: left;
  background-color: var(--light-green);
  padding: 4%;
  color: lightgrey;
}

.project-description p {
  margin: 0px;
}
.project-description a {
  display: inline-block;
  position: relative;
  transition: var(--transition);
  cursor: pointer;
  color: var(--green);
}

.project-tech-list {
  -webkit-box-pack: end;
  justify-content: flex-end;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  margin: 25px 0px 10px;
  padding: 0px;
  list-style: none;
  color: var(--light-grey);
}

.project-tech-list li {
  padding-left: 15px;
}

.project-links {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin-top: 10px;
  margin-left: -10px;
  float: right;
  color: var(--lightest-slate);
}

.project-image {
  grid-column: 1 / 8;
  box-shadow: 0 10px 30px -15px var(--navy-shadow);
  transition: var(--transition);
  grid-area: 1 / 1 / -1 / 8;
  position: relative;
  z-index: 1;
  background: var(--dark-green);
  padding-left: 5%;
}
.project-image a {
  width: 100%;
  background-color: var(--dark-green);
  border-radius: var(--border-radius);
  vertical-align: middle;
  cursor: pointer;
}

.project-image img {
  object-fit: cover;
  opacity: 0.4;
  width: 100%;
  filter: grayscale();
}
.project-image img:hover {
  filter: none;
  opacity: 100% !important;
}

@media(max-width: 900px) {
  .project-container {
    display: revert;
  }
  .project-image {
    display: none;
  }
}

/* JOBS */

.jobs-container {
  padding-top: 10%;
    display: flex;
    -webkit-box-align: center;
    background-color: black;
    padding-bottom: 5%;
    color: white;
    min-height: 80vh;
}

.job-tabs {
  list-style: none;
  padding-left: 15px;
  width: 100%;
  padding-right: 3%;
}

.job-tabs li {
  /* margin-bottom: 10px; */
}

.job-list {
  position: relative;
    z-index: 3;
    width: max-content;
    list-style: none;
    width: 100%;
}

.job-button-active {
  position: relative;
  transition: var(--transition);
  cursor: pointer;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  padding: 0px 20px 2px;
  border-left: 2px solid white;
  background-color: transparent;
  color: var(--green);
  text-align: left;
  padding-bottom: 10px;
}
.job-button-active:focus {outline:0;}
.job-button:focus {outline:0;}

.job-button {
  position: relative;
  transition: var(--transition);
  cursor: pointer;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  padding: 0px 20px 2px;
  border-left: 2px solid green;
  background-color: transparent;
  color: var(--grey);
  text-align: left;
  padding-bottom: 10px;
}

.job-description {
  width: 100%;
  height: auto;
  padding-top: 10px;
  padding-left: 10%;
  padding-right: 15%;
  /* background-color: #e5d3b3; */
}

.job-description h3 {
  margin-bottom: 5px;
  /* font-size: var(--fz-xxl); */
  font-weight: 500;
  color: var(--lightest-slate);
}

.job-description p {
  margin: 0px 0px 15px;
}
.job-description ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.job-description li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
}
.job-description li:before {
  content: "▹";
  padding-left: 10px;
  position: absolute;
  left: 0px;
  color: var(--green);
}

.company {
  color: var(--green);
}

.job-duration {
  margin-bottom: 30px;
  color: var(--light-slate);
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
}

.scroll-bar {
  height: 100%;
}

.side-panel {
  width:60%;
  padding-top: 10px;
  padding-left: 3%;
}

.invisble-job {
  /* display: none; */
}

@media (max-width: 800px) {
  .jobs-container {
    display: revert;
  }
  .job-list {
    margin-bottom: 5%;
  }
  .side-panel {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .job-list {
    margin-right: 2%;
  }
}
