@import url("https://fonts.googleapis.com/css?family=Roboto|Quattrocento+Sans&display=swap");
@import url('https://fonts.googleapis.com/css?family=Notable');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

html {
  --yellow: #FDD835;
  --blue: #70D1FE;
  --red: #F44336;
  height: 100%;
}

#parent {
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Source Code Pro', monospace;
  font-size: 28px;
  color: rgba(255,255,255,.70);
  position: relative;
}

#border {
  border-bottom: solid 3px rgba(0,0,0,.75);
  position: absolute;
  right: -7px;
  width: 20px;
}

/* Animation */
@media (min-width: 768px) {
  #parent {
    animation: animated-text 8s steps(51,end) 1s 1 normal both;
  }
}

@media (max-width: 768px) {
  #parent {
    white-space: break-spaces;
    padding: 5%;
  }
}
@media (min-width: 768px) {
  #border {
     animation: animated-cursor 600ms steps(51,end) infinite;
  }
}
@media (max-width: 768px) {
  #border {
    white-space: break-spaces;
  }
}
/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 860px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-bottom-color: rgba(0,0,0,.75);}
  to{border-bottom-color: transparent;}
}

input[type="text"], input[type="email"], textarea.form-control {
  background-color: rgba(0,0,0,0);
  border-top: 0px;
  border-left: 0px;
  border-right: 0;
  border-radius: 0px;
  color: rgb(51,51,51);
}
